.NavBar {
	height:0;
	width:0;
}

.NavBar-menu {
	position:relative;
	display:flex;
	flex-direction:column;
	width:fit-content;
	height:100vh;
	background-color: rgba(0,0,0,0.5);/*rgba(10,40,10,0.5);*/
	backdrop-filter: blur(2px);
	transform:translate3d(-100%,0,0);
	transition:200ms transform;
}



.NavBar h1 {
	display:none;
}

.NavBar ul {
	display:flex;
	flex-direction:column;
	position:relative;
	flex-grow: 1;
	list-style-type:None;
	padding:0;
	margin:0;
}

.NavBar ul li {
	position:relative;
	flex-grow: 1;
	position:relative;
	margin:0;
}

.NavBar ul li a {
	text-decoration:none;
	position:relative;
	text-align:center;
	height:100%;
	width:100%;
	display:block;
	color:white;
	margin:0;
	font-size:1rem;
	display: flex;
    align-items: center;
    justify-content: center;
}




.NavBar ul li a:hover {
	background-color:rgba(120,120,120, 0.4);
}



.NavBar-hamburger-square-wrapper {
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	width:30vw;
	height:30vw;
}


.NavBar-hamburger-fakesquare-filler {
	position:relative;
	width:30vw;
	height:30vw;
}

.NavBar-hamburger-square {
	display:block;
	border: 0.2rem solid rgba(255,255,255, 0.4);
	width:20vw;
	height:20vw;
	border-radius: 5vw;
	z-index:1;
	transform:rotate3d(0,0,0,-45deg);
	transition: 200ms transform;
}

.NavBar-hamburger-square:hover {
	background-color: rgba(255,255,255, 0.7);
}





@media screen and (min-width: 600px){
	.NavBar-menu {
		height:5vh;
		width:100vw;
		backdrop-filter:none;
		transform:translate3d(0,0,0);
		background-color:transparent;
		justify-content:flex-end;
	}
	
	.NavBar-menu, .NavBar ul  {
		flex-grow:0;
		flex-direction:row;
		justify-content:flex-end;
	}
	
	.NavBar ul{
		width:fit-content;
	}
	
	.NavBar ul li {
		backdrop-filter:blur(0.5rem);
		margin-right:1rem;
		flex-grow:0;
		width:10vw;
		border-radius:0.2rem;
		background-color: rgba(255,255,255, 0.4);
	}
	
	.NavBar ul li a {
		font-size:0.8rem;
	}
	
	.NavBar-hamburger-square,.NavBar-hamburger-square-wrapper {
		display:none;	
	}
	
	.NavBar-hamburger-fakesquare-filler {
		display:none;
	}
	
	.NavBar ul li a:hover {
		background-color: rgba(200,200,255, 0.4);
	}
	
	.NavBar ul li a:active {
		background-color: rgba(255,255,255, 0.5);
	}
	
	.NavBar h1 {
		backdrop-filter:blur(0.5rem);
		text-align:center;
		margin-left:1rem;
		height:fit-content;
		width:fit-content;
		display:inline-block;
		font-size:0.9rem;
	}
	
	.NavBar h1:hover {
		animation: rubberBand 1s;
	}
	
	.NavBar a {
		color:white;
		text-decoration:none;
	}
	
	
	
	.NavBar {
		margin-top:1vh;
		display:flex;
		align-items:center;
		justify-content:space-between;
		height:fit-content;
		width:100vw;
	}
	
	.NavBar-Home {
		display:none;
	}
	
	


}


