.TechShelf {
	display:grid;
	padding:5vw;
	grid-template-columns: repeat(4, 1fr);
	gap:4vw;
	border-radius:5vw;
	background-color: rgba(255,255,255, 0.4);
}


.TechShelf img{
	display:block;
	width:12vw;
	height:12vw;
	margin:0;
	animation-iteration-count:1;
}



.TechShelf img:hover {
	animation: var(--animation-name) 1s;
}


@media screen and (orientation: landscape) and (min-width: 600px){
	.TechShelf {
		margin-left:1rem;
		padding:2vw;
		gap:2vw;
	}
	
	.TechShelf img {
		width:6vw;
		height:6vw;
	}
}