.Section2{
	position:relative;
	width:100vw;
	min-height:100vh;
	overflow:hidden;
	margin:0;
}


.Section2-contentdiv{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
	width:100vw;
	min-height:100vh;
	overflow:hidden;
	margin:0;
}



.Section2-contentdiv a {
	text-align:center;
	text-decoration:none;
	color:white;
}

.Section2-contentdiv a:hover {
	color: orange;
}